@model BugTrackerV4.Models.CodeFirst.Project

@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css " />
</head>
<body>
    <h1 style="text-align:center">@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <div class="row" style="padding:20px;">
        <div class="col-sm-4" style="padding-top:35px;">
            <h3 style="text-align:center">
                Developers on Project
            </h3>           
            <br>
            @foreach (var user in Model.Users)
            {
                <div class="row">
                    <div class="stats-info3">
                        <div class="online">
                            <a href="#">
                                <div class="online-top">
                                    <div class="top-at">
                                        <img class="img-responsive" src="~/Images/2.png" alt="">
                                    </div>
                                    <div class="top-on">
                                        <div class="top-on1">
                                            <p>@user.FullName</p>
                                        </div>
                                        <label class="round"> </label>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-sm-8 divide">
                    @Html.Partial("_CreateTicketPartial.cshtml", new {Model.Tickets})
        </div>
    </div>
    <h3 style="text-align:center">Tickets on Project</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Assigned User
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Name
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Tickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.Created.Date.ToString("MM/dd/yyy")
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.Id }, null)
                        @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)
                        @Html.ActionLink("Delete", "Delete", "Tickets", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <p>


        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Add Ticket", "Create", "Tickets", new { projectId = Model.Id }, null)
        @if (User.IsInRole("Admin"))
        {@Html.ActionLink("Assign PM", "AssignPM", "Projects", new { id = Model.Id }, null)
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })}
        @{
            var userId = User.Identity.GetUserId();
            if (userId == Model.PMID)
            {@Html.ActionLink("Add Developers To Project", "AssignDev", new { id = Model.Id })}
        }
    </p>
    </body>
</html>
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });</script>
}