@model BugTrackerV4.Models.CodeFirst.Project

@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css " />
</head>
<body>
    <h1 style="text-align:center">@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <div class="row" style="padding:20px;">
        <div class="col-sm-3 divide">
            <div class="row">
            <div class="stats-info3" style="background-color:white;">
                <h3>Project Manager</h3>
            </div>
            </div>
            <div class="row">
                <div class="stats-info3">
                    <div class="online">
                        <a href="#">
                            <div class="online-top">
                                <div class="top-at">
                                    <img class="img-responsive" src="~/Images/2.png" alt="">
                                </div>
                                <div class="top-on">
                                    <div class="top-on1">
                                        <p>@ViewBag.ProjectManager.FullName</p>
                                    </div>
                                    <label class="round"> </label>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="stats-info3" style="background:white;">
                    <h3>Developers on Project</h3>
                </div>
            </div>
            @foreach (var user in Model.Users)
            {
                <div class="row">
                    <div class="stats-info3">
                        <div class="online">
                            <a href="#">
                                <div class="online-top">
                                    <div class="top-at">
                                        <img class="img-responsive" src="~/Images/2.png" alt="">
                                    </div>
                                    <div class="top-on">
                                        <div class="top-on1">
                                            <p>@user.FullName</p>
                                        </div>
                                        <label class="round"> </label>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-sm-offset-1 col-sm-3 divide">
            @Html.Partial("~/Views/Shared/_CreateTicket.cshtml", new BugTrackerV4.Models.CodeFirst.Ticket { ProjectId = Model.Id })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3 style="text-align:center">Tickets on Project</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Ticket Name
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Tickets)
            {
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <button id="dLabel" type="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                        @Html.DisplayFor(modelItem => item.Title)
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <li><p>Assigned User: @Html.DisplayFor(modelItem => item.AssignedUser.FullName)</p></li>
                                        <li><p> Type: @Html.DisplayFor(modelItem => item.TicketType.Name)</p></li>
                                        <li><p> Created: @item.Created.Date.ToString("MM/dd/yyy")</p></li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.Id }, null)
                                @Html.ActionLink("Details", "Details", "Tickets", new { id = item.Id }, null)
                                @Html.ActionLink("Delete", "Delete", "Tickets", new { id = item.Id }, null)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <p>


        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Add Ticket", "Create", "Tickets", new { projectId = Model.Id }, null)
        @if (User.IsInRole("Admin"))
        {@Html.ActionLink("Assign PM", "AssignPM", "Projects", new { id = Model.Id }, null)
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })}
        @{
            var userId = User.Identity.GetUserId();
            if (userId == Model.PMID)
            {@Html.ActionLink("Add Developers To Project", "AssignDev", new { id = Model.Id })}
        }
    </p>
    </body>
</html>
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });</script>
}