@model IEnumerable<BugTrackerV4.Models.ProjectPMViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
   
    <thead>
        <tr>
            <th>Projects</th>
            <th>Project Manager</th>
            </tr>
            </thead>      
   
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project.Name)
                </td>              
                    @if (item.ProjectManager != null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem=> item.ProjectManager.FullName)
                       </td>
                    }
                    else
                    {
                        <td>Not Assigned
                        </td>
                    }

                <td>@Html.ActionLink("Edit", "Edit", new { id = item.project.Id }) </td>
                <td> @Html.ActionLink("Details", "Details", new { id = item.project.Id }) </td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.project.Id })</td>
                </tr>

                    }
        </tbody>

</table>

@section scripts{

    <script>
$(document).ready(function () {
    $('#myTable').DataTable();
});</script>
}