@model IEnumerable<BugTrackerV4.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
   
    <thead>
        <tr>
            <thead>Projects</thead>
            <thead>Details</thead>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
            <thead>Edit</thead>
            <thead>Delete</thead>
            <thead>Assign Users</thead>
            <thead>Unassign Users</thead>}
            <thead>Add Ticket</thead>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                    <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                   
                       @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                       {
                        <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Assign Users", "AssignUsers", "ProjectUsers", new { projectId = item.Id }, null)</td>
                       <td> @Html.ActionLink("Unassign Users", "unassignUsers", "ProjectUsers", new { projectId = item.Id }, null)</td>}
                        @if (User.IsInRole("Submitter"))
                        {<td> @Html.ActionLink("Add Ticket", "Create", "Tickets", new { projectId = item.Id }, null)</td>}
                       
                    

               
            </tr>
        }
        </tbody>

</table>

@section scripts{

    <script>
$(document).ready(function () {
    $('#myTable').DataTable();
});</script>
}