@model IEnumerable<BugTrackerV4.Models.CodeFirst.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
    {
    @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
   
    <thead>
        <tr>
            <th>Projects</th>
            <th>Details</th>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
            <th>Edit</th>
            <th>Delete</th>
            <th>Assign Users</th>
            <th>Unassign Users</th>}
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                    <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
                   
                       <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</td>
                        <td>@Html.ActionLink("Assign Users", "AssignUsers", "ProjectUsers", new { projectId = item.Id }, null)</td>
                       <td> @Html.ActionLink("Unassign Users", "unassignUsers", "ProjectUsers", new { projectId = item.Id }, null)</td>
                       <td> @Html.ActionLink("Add Ticket", "Create", "Tickets", new { projectId = item.Id }, null)</td>
                    

               
            </tr>
        }
        </tbody>

</table>

@section scripts{

    <script>
$(document).ready(function () {
    $('#myTable').DataTable();
});</script>
}