@model BugTrackerV4.Models.TicketIndexViewModel

@{
    ViewBag.Title = "Index";
}
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css " />
</head>
<body>
<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<h2> All Tickets</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Assigned User
            </th>
            <th>
                Creator User
            </th>
            <th>
                Project
            </th>
            <th>
                Ticket Priority
            </th>
            <th>
                Ticket Status
            </th>
            <th>
                Ticket Type
            </th>
            <th>
                Ticket Name
            </th>
            <th>
                Ticket Description
            </th>
            <th>
                Date Created
            </th>
            <th>
                Date Updated
            </th>
            @if (User.IsInRole("Admin"))
            {
            <th>Actions</th>}
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AdminTickets)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatorUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                @if (User.IsInRole("Admin"))
                {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>}
            </tr>
        }
    </tbody>

</table>
@if (User.IsInRole("ProjectManager"))
{
    @ViewBag.PMAmount
    <h2> Project Manager Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Assigned User
                </th>
                <th>
                    Creator User
                </th>
                <th>
                    Project
                </th>
                <th>
                    Ticket Priority
                </th>
                <th>
                    Ticket Status
                </th>
                <th>
                    Ticket Type
                </th>
                <th>
                    Ticket Name
                </th>
                <th>
                    Ticket Description
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Updated
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PMTickets)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@if (User.IsInRole("Developer"))
{
    @ViewBag.DevAmount
    <h2> Developer Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Assigned User
                </th>
                <th>
                    Creator User
                </th>
                <th>
                    Project
                </th>
                <th>
                    Ticket Priority
                </th>
                <th>
                    Ticket Status
                </th>
                <th>
                    Ticket Type
                </th>
                <th>
                    Ticket Name
                </th>
                <th>
                    Ticket Description
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Updated
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DevTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @if (User.IsInRole("Admin"))
                        {@Html.ActionLink("Delete", "Delete", new { id = item.Id })}

                    </td>
                </tr>
            }
        </tbody>

    </table>
}
@if (User.IsInRole("Submitter"))
{
    @ViewBag.SubAmount
    <h2> Submitter Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Assigned User
                </th>
                <th>
                    Creator User
                </th>
                <th>
                    Project
                </th>
                <th>
                    Ticket Priority
                </th>
                <th>
                    Ticket Status
                </th>
                <th>
                    Ticket Type
                </th>
                <th>
                    Ticket Name
                </th>
                <th>
                    Ticket Description
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Date Updated
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.SubTickets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatorUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
</body>
</html>
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });</script>
}
